.col-1{width:8.33%;float:left}
.col-2{width:16.66%;float:left}
.col-3 {width:25%; float:left}
.col-4{width:33.33%;float:left}
.col-5{width:41.66%;float:left}
.col-6{width:50%;float:right;}
.col-7{width:58.33%;float:left}
.col-8{width:66.66%;float:left}
.col-9 {width:75%;float: right;}
.col-10{width:83.33%;float:left}
.col-11{width:91.66%;float:left}
.col-12{width:100%;float:left}

.body{
	background: #000;
}
header{
	display:flex;
	background: #000;
	margin:-5px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}
.left-header{
	padding-left: 50px;
}
.right-header{
	margin-left:100px;
}
.right-header ul li a{
	text-decoration: none;
	color:#ffffff;
	display: inline-block;
	font-size: 25px;
	font-family: Arial;
}
.right-header ul li a:hover{
	color:#F12727;
}
.right-header ul li{
	list-style: none;
	display: inline-block;
	padding: 20px 25px 20px 10px;
}
#first{
	background: #000;
}
.first-section{
	display: flex;
}
#first .home-content .homepage-button button a{
	text-decoration: none;
	color:#ccc;
	font-size: 18px;
	font-family: Arial;
}
#first .home-content .homepage-button button a:hover{
	color:#000;
}

#first .home-content .homepage-button button{
	background: #F12727;
	padding:12px 30px 12px 30px;
	border: none;
	border-radius: 50px;
	margin-left:200px ;
}
#first .home-content .homepage-button button:hover{
	background: #ccc;

}
#about-section{
	display: flex;
	background: #000;

}
#about-section .about-right{
	padding-top: 150px;
}
#skill .skill-section .topskill-icon{
	display: flex;
	padding-left: 430px;
	
}
#skill .skill-section .topskill-icon i{
	padding: 20px;
	background: #fff;
	margin: 15px;
	border-radius: 10px;
	box-shadow:5px 5px 5px #ccc;


}